<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Catan Community Leaderboard Site</title>
</head>
<body>
<noscript>
    <strong>We're sorry but vue doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>

<!-- Simple Privacy-Focused tracker, I can only see the number of people that visit, browser, and country -->
<script> // counter.dev tracking code
if (!sessionStorage.getItem("_swa") && document.referrer.indexOf(location.protocol + "//" + location.host) !== 0) {
    fetch("https://counter.dev/track?" + new URLSearchParams({
        referrer: document.referrer,
        screen: screen.width + "x" + screen.height,
        user: "counter",
        utcoffset: 1
    }));
}
sessionStorage.setItem("_swa", "1");
</script>
<link rel="stylesheet" href="https://unpkg.com/katex@0.12.0/dist/katex.min.css">
</html>
