<template>
  <div class="about md-container">
    <img src="../assets/icons/plane.svg" width="1"/>
    <vue3-markdown-it table-class="md-table" :breaks="false" :source="getHelpText()"/>
  </div>
</template>

<script>
const module = require('!!raw-loader!../../README.md').default;

export default {
  name: 'About.vue',
  methods: {
    getHelpText() {
      return module;
    }
  },
}
</script>

<style>
@import "../assets/md-style.css";
</style>
