<template>
  <div class="md-container">
    <vue3-markdown-it :source="getReadme()"/>
  </div>
</template>

<script>

const plane = require('../assets/icons/plane.svg');
const shield = require('../assets/icons/shield.svg');

export default {
  name: "Info.vue",
  methods: {
    getReadme() {
      return README.replaceAll(
          "✈️", "<img class='icon' src='" + plane + "'>"
      ).replaceAll(
          '🛡️', "<img class='icon' src='" + shield + "'>"
      ).replaceAll(
          '###`', '### `'
      );
    }
  },
}
</script>

<style scoped>
</style>

<style>
@import "../assets/md-style.css";
</style>