<template>
  <div class="root">
    <h1>Catan Community Leaderboard</h1>
    <div class="subtitle">Now 2% faster loading times <a href="#1">(*)</a> <a href="#2">(**)</a> <a href="#3">(***)</a>
      <a
          href="#4">(****)</a></div>
    <div v-if="data">
      <div class="table-container">
        <table cellspacing="0">
          <tr>
            <td class="s"></td>
            <th class="l">Name</th>
            <th class="r s">LP <a v-on:click="sort((i)=>-i['lp'])">
              <img src="../assets/icons/sort.svg"> </a></th>
            <th class="r m">MM games <a v-on:click="sort((i)=>-i.matches)">
              <img src="../assets/icons/sort.svg"></a></th>
            <th class="r m br-1">Relative wins
              <a v-on:click="sort((i)=>-i.winrate * (i.matches > 10 ? 1: 0))">
                <img src="../assets/icons/sort.svg"></a>
            </th>
            <th class="r m">
              Open 11
              <a v-on:click="sort((i)=>(i.tournaments && -i.tournaments?.['1']?.open11)||0)">
                <img src="../assets/icons/sort.svg"></a>
            </th>
            <th class="r m">
              Open 12
              <a v-on:click="sort((i)=>(i.tournaments && -i.tournaments?.['1']?.open12)||0)">
                <img src="../assets/icons/sort.svg"></a>
            </th>

            <th class="r m">
              Open 13
              <a v-on:click="sort((i)=>(i.tournaments && -i.tournaments?.['1']?.open13)||0)">
                <img src="../assets/icons/sort.svg"></a>
            </th>

            <th class="r m">
              Open 14
              <a v-on:click="sort((i)=>(i.tournaments && -i.tournaments?.['1']?.open14)||0)">
                <img src="../assets/icons/sort.svg"></a>
            </th>

            <th class="r m">
              Open 15
              <a v-on:click="sort((i)=>(i.tournaments && -i.tournaments['2021']?.['2']?.Open15)||0)">
                <img src="../assets/icons/sort.svg"></a>
            </th>
          </tr>
          <tr v-for="(row, index) in data" v-bind:key="row.discord_username">
            <td class="r s">

              <img src="../assets/icons/gold.svg" v-if="index==0">
              <img src="../assets/icons/silver.svg" v-else-if="index==1">
              <img src="../assets/icons/bronze.svg" v-else-if="index==2">
              <span v-else>#{{ index + 1 }}</span>
            </td>
            <td class="l">
              {{ row.display_name }}
            </td>
            <td class="r s">{{ row.lp.toLocaleString() }}</td>
            <td class="r m">{{ row.matches.toLocaleString() }}</td>
            <td class="r m br-1" v-if="row.winrate">{{ row.winrate.toFixed(3) }}×</td>
            <td class="r m br-1" v-else>NA</td>
            <td class="r m " v-if="row.tournaments">{{ (row.tournaments["1"]?.open11 || 0).toLocaleString() }}</td>
            <td class="r m" v-if="row.tournaments">{{ (row.tournaments["1"]?.open12 || 0).toLocaleString() }}</td>
            <td class="r m" v-if="row.tournaments">{{ (row.tournaments["1"]?.open13 || 0).toLocaleString() }}</td>
            <td class="r m" v-if="row.tournaments">{{ (row.tournaments["1"]?.open14 || 0).toLocaleString() }}</td>
            <td class="r m" v-if="row.tournaments">{{
                (row.tournaments["2021"]?.["2"]?.Open15 || 0).toLocaleString()
              }}
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div v-else>
      <p>The loading is slightly faster now by doing all pre processing once every so many users. If you are
        reading this, congratulations! You can do the processing for all users in the next hour.</p>
      <p>If you read this far though, it's taking a long time. Perhaps something went wrong. Contact me if the
        problem persists</p>
      <div class="small"></div>

      <div class="small"></div>
    </div>

    <div class="small">

    </div>

    <div id="1" class="small">
      * If the cache is full
    </div>
    <div id="2" class="small">
      ** If the serverless function is warm
    </div>
    <div id="3" class="small">
      *** Does not apply if the server is in a bad mood
    </div>
    <div id="4" class="small">
      **** Only apply on dates such that the day is a prime number so that n-3 is a multiple of 7
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String,
  },
  created() {
    this.fetchData();
  },
  data() {
    return {
      data: null
    }
  },
  methods: {
    async fetchData() {
      const result = await fetch('/api/leaderboard', {
        'credentials': 'same-origin',
        'headers': {
          'accept': 'application/json'
        }
      });
      this.data = (await result.json()).users;
    },
    sort(key) {
      this.data.sort((i, j) => (key(i) - key(j)));
      //this.data = this.data;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
table {
  table-layout: fixed;
  width: max-content;
}

.r {
  text-align: right;
}

.m {
  width: 10rem;
}

.s {
  width: 5rem;
}

.l {
  width: 15rem;
}

td img, th img {
  width: 1.2rem;
  vertical-align: middle;
}

tr {
  height: 2rem;
}

th, td {
  padding: 0.2rem;
  vertical-align: top;
}

.subtitle {
  font-size: 1.1rem;
}

.small {
  font-size: 0.75rem;
  margin-top: 4rem;
}

.br-1 {
  border-right: 1px solid black;
  padding-right: 0.5rem;
}

.table-container {
  overflow-x: auto;
}
</style>
<style>
* {
  box-sizing: border-box;
}
</style>
