.icon {
    width: 1.2rem;
    vertical-align: middle;
}

h3 {
    background-color: #cce0ff;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 0.3rem 1rem 0.3rem 5rem;
    height: 2.2rem;
    font-size: 1rem;
}

body {
    overflow-x: hidden;
}

.md-container h1 {
    margin-left: 2rem;
    margin-top: 2rem;
}

.md-container h1:before {
    content: '';
    width: 1.25rem;
    height: 1.25rem;
    background-color: black;
    display: inline-block;
    margin-right: 0.5rem;
}

.md-container p, .md-container table, pre, ul, li {
    margin-left: 4rem;
    margin-right: 4rem;
}

pre {
    padding: 0.5rem;
    border: 1px solid grey;
    border-radius: 0.25rem;
}