<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Leaderboard</router-link>
      |
      <router-link to="/info">Bot Docs</router-link>
      |
      <router-link to="/about">League Points</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style>
#nav {
  text-align: center;
  padding: 0.5rem;
  font-style: italic;
}

#nav a:visited, #nav a {
  color: darkblue;
  text-decoration: none;
  font-size: 1.1rem;
}

h1 {
  font-size: 2rem;
  font-weight: lighter;
}
</style>
